@import url(http://fonts.googleapis.com/css?family=Exo:400,700)

$yellow: yellow
$dark-blue: #0099cc
$light-blue: #02A1DD

body
  font-family: 'Exo', Georgia, sans-serif

.site
  background-color: $dark-blue
  h1, h2
    font-weight: bold
    color: yellow
  a
    color: $yellow
    text-decoration: underline

.section
  padding: 40px 0
  p
    color: white
    font-size: 1.6rem

.title-tracks
  position: absolute
  margin-left: 5%
  margin-top: 5%
  top: 0
  h1
    font-size: 3.75rem

.wistia_embed
  margin-top: 40px

.footer
  background-color: $light-blue
  margin-top: 40px
  padding-top: 40px
  ul
    margin-left: 0
    li
      list-style: none
      color: $yellow

