\---
layout: default
\---

.full-width.hero#section-1
  %img{ src: 'images/on_one_knee.jpg' }
  .title-tracks.show-for-large-up
    %h1 Jeff and Marisa are getting married!
    %h2 August 2nd, 2014
    %h2 Longlook Farm, Sanbornton, NH
.section.row.hide-for-large-up
  .column.12
    %h1 Jeff and Marisa are getting married!
    %h2 August 2nd, 2014
    %h2 Longlook Farm, Sanbornten, NH
  

.full-width.nav
  .row.full-height
    .large-12.columns.full-height
      %ul.small-block-grid-4.full-height
        %li.full-height{:data => {:section => 2}}
          %a Location
        %li.full-height{:data => {:section => 3}}
          %a The Lovely Bride
        %li.full-height{:data => {:section => 4}}
          %a The Studly Groom
        %li.full-height{:data => {:section => 5}}
          %a Our Engagement

.section#section-2.row
  .column.12
    %h1 Where's it going down?
    %p
      = succeed ',' do
        %a{ href: 'http://longlookfarm.com/' } Longlook Farm
      a beautiful barn, bar, and lodge near Tilton, NH. It's situated on a whole
      ton of acres, and it's got a great view, pond, the whole deal. 
    %p
      You're going to love it, just like we did when we first saw it!

.section#section-3.row
  .column.12
    %h1 The Bride
    .row
      .large-3.columns
        %img{ src: "http://placehold.it/350x350" }
      .large-9.columns
        %p
          Marisa loves me soooo much and she wants to smooch me on our weddin' day.

.section#section-4.row
  .large-12.columns
    %h1 The Groom
    .row
      .large-3.columns
        %img{ src: "http://placehold.it/350x350" }
      .large-9.columns
        %p
          I know the husband is supposed to be the "rock", but Marisa has always
          been mine. She's helped me grow into the best man I can be. She is
          supportive, loving, and beautiful (of course). I still can't believe
          she's going to be mine forever!!
        %p
          Marisa and I met on Halloween night, 2005 (whoa!). She didn't know it then, 
          but she was going to be seeing a LOT of the boy in the Cornell hoodie for 
          the rest of her life.

.section#section-5.row
  .large-12.columns
    %h1 The Engagement
    %p
      We got engaged at 
      %a{ href: 'http://www.skihomewood.com/' } Homewood Ski Resort
      in Lake Tahoe, CA. As usual, I winged it. I got the ring the day before
      we left for our ski vacation, and even as the ski chair reached the top
      of the mountain, he had no idea what to do. Luckily, it was Marisa that
      prompted, "Hey, let's take pictures at this nice clearing area." Thank
      god for those Momma B photog genes.
    %p
      After we snapped a few photos, with the incredible Lake Tahoe scenery in 
      the background, I dropped to one knee. I started to stammer out the 
      proposal I had been turning over in my mind, but before I could get even 
      a few words out, Marisa completely lost it. You'll just have to see for 
      yourself below, and 
      = succeed '.' do
        %a{ href: 'http://jeffvincent.me/were-getting-married' } read my post on the whole adventure
    .row
      .large-8.columns.small-centered
        <iframe src="//fast.wistia.net/embed/iframe/1f7w3cgcmi?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="960" height="540"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>

:javascript
  $('.nav li').on('click', function() {
    var sectionID = $(this).data('section');
    $.scrollTo($('#section-' + sectionID), 'slow', {easing: 'swing'});
  });
