\---
layout: default
\---

.full-width.hero.show-for-large-up#section-1
  .title-tracks
    %h1 Jeff and Marisa are getting married!
    %h2 4:30pm, August 1st, 2015
    %h2 Longlook Farm, Sanbornton, NH
.section.row.hide-for-large-up
  .large-8.columns.centered.full-width
    %img{ src: '../images/on_one_knee_small.jpg' }
  .column.12{ style: 'padding-top: 20px;' }
    %h1 Jeff and Marisa are getting married!
    %h2 August 1st, 2015
    %h2 Longlook Farm, Sanbornton, NH


.full-width.nav.show-for-large-up
  .row.full-height
    .large-12.columns.full-height
      %ul.small-block-grid-5.full-height
        %li.full-height{:data => {:section => 3}}
          %a About Us
        %li.full-height{:data => {:section => 6}}
          %a Our Engagement
        %li.full-height{:data => {:section => 7}}
          %a Wedding Details
        %li.full-height{:data => {:section => 9}}
          %a Our Registry
        %li.full-height{:data => {:section => 10}}
          %a Photos


.section#section-2.row
  .column.12
    %h1 Where's it going down?
    %p
      After a long search, we were so excited to find
      = succeed '.' do
        %a{ href: 'http://longlookfarm.com/' } Longlook Farm
      The farm includes a beautiful barn, bar, and lodge near Tilton, NH. It's
      situated on a whole ton of acres, it's got a great view, a pond with a
      rope swing, the whole deal.
    %p
      You're going to love it, just like we did when we first saw it!

    %p
      %a{ href: '#directions' } Directions to Longlook Farm

    %p
      We're planning to have the ceremony later in the afternoon (4:30PM), to
      try and avoid the heat of midday.  If you're staying in the hotel, we've
      arranged for a shuttle to get dressed up folks to and from Longlook Farm.

.section#section-3.row
  .column.12
    %h1 The lovely bride
    .row
      .large-3.columns{ style: 'text-align: center;' }
        %img{ src: "/images/bride.png", width: "300" }
      .large-9.columns
        %p
          Originally from Bow New Hampshire, Marisa is a physical therapist by
          day and a Sherm, Jeff, and food lover by night.
        %p
          She plays lots of field hockey and is constantly discussing all
          seven books and eight Harry Potter movies.
        %p
          She is still waiting for her Hogwarts letter.


.section#section-4.row
  .large-12.columns
    %h1 The studly groom
    .row
      .large-3.columns{ style: 'text-align: center;' }
        %img{ src: "/images/groom.png", width: "300" }
      .large-9.columns
        %p
          Jeff was born in upstate NY and spent his childhood playing lacrosse,
          video games, and running track. His favorite snack is peanut butter
          on pretty much anything.
        %p
          "I know the husband is supposed to be the "rock", but Marisa has always
          been mine. She's helped me grow into the best man I can be. She is
          supportive, loving, and beautiful (of course). I still can't believe
          she's going to be mine forever!!


.section#section-5.row
  .large-12.columns
    %h1 How they met
    %p
      Marisa and Jeff met on Halloween night, 2005. Star Wars Episode III was
      in the theaters, The OC was popular on TV, and the White Sox won the
      World Series (bet you forgot about that!).
    %p
      The guy Marisa called "Cornell Boy" for months just wouldn't give up, and
      she finally gave in and agreed to a date with him. He made mac and cheese
      with tuna and frozen veggies in it. He still does.


.section#section-6.row
  .large-12.columns
    %h1 The engagement
    %p
      Jeff tells the story:
    %p
      We got engaged at
      %a{ href: 'http://www.skihomewood.com/' } Homewood Ski Resort
      in Lake Tahoe, CA. As usual, I winged it.
    %p
      I got the ring the day before we left for our ski vacation, and even as
      the ski chair reached the top of the mountain, he had no idea what to do.
      Luckily, it was Marisa that prompted, "Hey, let's take pictures at this
      nice clearing area." Thank god for those Momma B photog genes.
    %p
      After we snapped a few photos, with the incredible Lake Tahoe scenery in
      the background, I dropped to one knee. I started to stammer out the
      proposal I had been turning over in my mind, but before I could get even
      a few words out, Marisa completely lost it. You'll just have to see for
      yourself below, and
      = succeed '.' do
        %a{ href: 'http://jeffvincent.me/were-getting-married' } read my post on the whole adventure
    .row
      .large-8.columns.small-centered.full-width
        <iframe src="//fast.wistia.net/embed/iframe/1f7w3cgcmi?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="960" height="540"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>


.section#section-7.row
  .large-12.columns
    %h1 Accommodations

    %p
      We went ALL OUT, so buckle up buckeroo!

    %h3 Hampton Inn and Suites
    %ul.no-bullets
      %li 195 Laconia Rd, Tilton, NH 03276
      %li (603) 286-3400
      %li
        %a{ href: 'http://www.tiltonsuites.hamptoninn.com/', target: '_blank' }
          http://www.tiltonsuites.hamptoninn.com/

    %p
      We got a special rate for the wedding, but you need to book prior to
      = succeed '.' do
        %strong 6/30/15
      The hotel told us to recommend booking at least two months in
      advance because there is another lakes region summer event that weekend.

    %p
      Here is a sample of the rates, in case you're wondering:
      %ul
        %li King Standard Rooms $139/night
        %li Two Queen Beds $139/night
        %li King Studio Rooms $155/night

    %p
      To book a room, call (603) 286-3400 and be sure to state that you are
      booking for our wedding OR
      %a{ href: 'http://www.tiltonsuites.hamptoninn.com/', target: '_blank' } book online
      and enter the group code <i>FVW</i> to get that sweet pricing.

    %p
      And don't worry, I checked, and there is a breakfast buffet (of course).

    %p
      There are other hotels in the area, but only the Hampton Inn will have
      the discounted rates. Here are two other options:
      %ul
        %li
          %a{ href: 'http://www.super8.com/hotels/new-hampshire/tilton/super-8-tilton-lake-winnipesaukee/hotel-overview' }
            Super 8
        %li
          %a{ href: 'http://www.ihg.com/holidayinnexpress/hotels/us/en/tilton/tilex/hoteldetail' } Holiday Inn Express

    %h2 Calling All Babies!
    %p
      We've decided to make the wedding ceremony and reception
      %b adults only territory.
      But not to worry, we found an excellent babysitter, who is
      ready to take on all youngins at the hotel. Please let us know if you
      would like to take advantage of this :)

    %h1 Things to Do
    %p
      There are *lots* of cool things to do around town, if you want to make a
      mini-vacation out of the wedding extravaganza. Here's just a few options:
      %ul
        %li
          %a{ href: 'https://www.google.com/maps/place/150+Winnisquam+Ave,+Laconia,+NH+03246/data=!4m2!3m1!1s0x4cb3345cca4dcad7:0x73b79585e4129d4e?sa=X&ei=X-I_VZP3Nsf2yQSOn4HYCQ&ved=0CB4Q8gEwAA' } Bartlett Beach:
          If you want to catch some rays before the ceremony. (150 Winnisquam Ave, Laconia, NH 03246)
        %li
          %a{ href: 'http://www.urbanspoon.com/r/233/1109654/restaurant/New-Hampshire/Jons-Roast-Beef-Deli-Laconia' } Jon's Roast Beef & Deli:
          Jeff and I have gone out of our way numerous times to get sandwiches here. It's that good. (1367 Union Ave, Laconia, NH 03246)
        %li
          %a{ href: 'http://alltrails.com/trail/us/new-hampshire/mount-major-trail' } Mount Major:
          Super fun hike, but trail can get busy! So head out early if you decide to go.
        %li
          %a{ href: 'http://www.tangeroutlet.com/tilton/' } Tanger Outlets:
          If you want to get your shop on! Right across from the hotel.
        %li
          %a{ href: "https://www.google.com/maps/place/Pirate's+Cove+Adventure+Golf/@43.501356,-71.516162,17z/data=!3m1!4b1!4m2!3m1!1s0x4cb334e43fd9c737:0x130e6679ce2460de" } Pirate's Cove Mini-golf:
          Where Jeff and I REALLY SHOULD be golfing the morning of our wedding! (4 Daniel Webster Hwy, Tilton, NH 03289)
        %li
          %a{ href: "https://www.yogafromtheheartnh.com/home.html" } Yoga from the heart:
          If you want to do some Saturday morning down dogs :)


.section#section-8.row
  .large-12.columns
    %h1#directions Directions to Longlook Farm

    %p
      %strong Address:
      195 Knox Mountain Rd, Sanborton, NH 03269
    %p
      I93 North to exit 22, Sanbornton
    %p
      Take a right off the exit onto Rte 127, go approx. 1.1 miles take a right
      onto Prescott Rd. If you get to the Sanbornton General store, you've gone
      too far.
    %p
      Take your first left onto Weeks Rd. Follow for a couple of miles, you
      will pass DenBrae Golf course on your right. The road will split, stay to
      the right. Continue on Weeks Road until you reach Knox Mountain Rd on
      your left.
    %p
      Take a left onto Knox Mountain Rd - this is a dirt road.
    %p
      Follow Knox Mountain Rd. through the woods, you will come to an opening
      with a large brown colonial house on your left. Continue on Knox Mountain
      Rd , you will pass a yellow house on the right - take your next right -
      there is a green mailbox with 195 on it and lookfor the Longlook Farm
      sign.  Turn into driveway. Go 1/4 mile on driveway, arrive at Longlook
      Farm.


.section#section-9.row
  .large-12.columns
    %h1#registry Wedding Registry

    %p
      Had we known weddings involved gifts, we would have done this years ago!

    %p
      We have registered at the following fine stores:

    %ul
      %li
        %a{ href: 'https://secure.williams-sonoma.com/registry/mx9hbg8gq7/registry-list.html' } Williams Sonoma
        %span - for fine living things and appliances and such.
      %li
        %a{ href: 'http://www.amazon.com/registry/wedding/20ZHPKC8YLQN0' } Amazon
        %span - because you can buy ANYTHING on Amazon.
      %li
        %a{ href: 'http://www.rei.com/GiftRegistryDetails/GR110138921' } REI
        %span - for outdoor activities.


    %p
      If you prefer to give money, we are creating two funds:
      %ul
        %li
          =succeed ',' do
            %b Our adventure fund
          for all the places we haven't been and all the
          cool things we haven't done.
        %li
          =succeed ',' do
            %b Our first house fund
          because we just gotta stop paying rent!

    %p
      Please make your check payable to your favorite person in the couple, or
      if you're laundering money, straight cash will work.


.section#section-10.row
  .large-12.columns
    %h1 More us
    %p
      Want more us? We thought you'd never ask :)

  .row
    .large-8.columns.small-centered
      %ul.image-carousel{"data-orbit" => ""}
        %li
          %img{src: '../images/IMG_3190.JPG', alt: 'slide 1'}
        %li
          %img{src: '../images/IMG_4539.JPG', alt: 'slide 2'}
        %li
          %img{src: '../images/IMG_5685.JPG', alt: 'slide 3'}
        %li
          %img{src: '../images/IMG_6263.JPG', alt: 'slide 4'}
        %li
          %img{src: '../images/IMG_5701.JPG', alt: 'slide 5'}
        %li
          %img{src: '../images/IMG_6474.JPG', alt: 'slide 6'}
        %li
          %img{src: '../images/IMG_2504.JPG', alt: 'slide 7'}
        %li
          %img{src: '../images/IMG_2895.JPG', alt: 'slide 8'}
        %li
          %img{src: '../images/IMG_3117.JPG', alt: 'slide 9'}
        %li
          %img{src: '../images/mibbs_in_jackson.jpg', alt: 'slide 10'}


:javascript
  $('.nav li').on('click', function() {
    var sectionID = $(this).data('section');
    $.scrollTo($('#section-' + sectionID), 'slow', {easing: 'swing'});
  });

  function EasyPeasyParallax() {
    scrollPos = $(this).scrollTop();
    $('.title-tracks').css({
      'margin-top': (scrollPos/4)+"px",
      'opacity': 1-(scrollPos/250)
    });
  }

  $(document).ready(function(){
    $(window).scroll(function() {
      EasyPeasyParallax();
    });
  });
